html {
  background-color: rgb(25, 25, 25);
  color: white;
}

.values {
  margin: auto auto 10px;
}

.values p {
  margin: auto;
}

.container {
  display: grid;
  grid-template-rows: repeat(5, 50px);
  grid-template-columns: repeat(5, 20%);
}

#space-r1c1 {
  grid-row: 1;
  grid-column: 1;
}

#space-r1c2 {
  grid-row: 1;
  grid-column: 2;
}

#space-r1c3 {
  grid-row: 1;
  grid-column: 3;
}

#space-r1c4 {
  grid-row: 1;
  grid-column: 4;
}

#space-r1c5 {
  grid-row: 1;
  grid-column: 5;
}

#space-r2c1 {
  grid-row: 2;
  grid-column: 1;
}

#space-r2c2 {
  grid-row: 2;
  grid-column: 2;
}

#space-r2c3 {
  grid-row: 2;
  grid-column: 3;
}

#space-r2c4 {
  grid-row: 2;
  grid-column: 4;
}

#space-r2c5 {
  grid-row: 2;
  grid-column: 5;
}

#space-r3c1 {
  grid-row: 3;
  grid-column: 1;
}

#space-r3c2 {
  grid-row: 3;
  grid-column: 2;
}

#space-r3c3 {
  grid-row: 3;
  grid-column: 3;
}

#space-r3c4 {
  grid-row: 3;
  grid-column: 4;
}

#space-r3c5 {
  grid-row: 3;
  grid-column: 5;
}

#space-r4c1 {
  grid-row: 4;
  grid-column: 1;
}

#space-r4c2 {
  grid-row: 4;
  grid-column: 2;
}

#space-r4c3 {
  grid-row: 4;
  grid-column: 3;
}

#space-r4c4 {
  grid-row: 4;
  grid-column: 4;
}

#space-r4c5 {
  grid-row: 4;
  grid-column: 5;
}

#space-r5c1 {
  grid-row: 5;
  grid-column: 1;
}

#space-r5c2 {
  grid-row: 5;
  grid-column: 2;
}

#space-r5c3 {
  grid-row: 5;
  grid-column: 3;
}

#space-r5c4 {
  grid-row: 5;
  grid-column: 4;
}

#space-r5c5 {
  grid-row: 5;
  grid-column: 5;
}
